* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  color: #063a4f;
  /* padding-bottom: 500px; */
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
Image {
  width: 100px;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  color: #063a4f;
}
