.container {
  /* width: 100%; */
  position: relative;
  display: flex;
}

.container p {
  color: #dfce11;
  font-weight: 600;
  font-size: 30px;

  position: absolute;
  top: 0;
  left: 0;
  margin-top: 33px;
  margin-left: 40px;
}

@media screen and (max-width: 900px) {
  .container p {
    margin-left: 140px;
  }
}
